@()(implicit user: User)

@swimmer(swimmer: Swimmer) = {
<h3>
	@swimmer.fullName <button class="unfollow btn btn-info btn-xs" title="Unfollow" data-id="@swimmer.id">
	<i class="icon-minus-sign icon-white"></i></button>
</h3>

<div class="panel-group" id="accordion@swimmer.id">
@defining(swimmer.eventsByMeet()) { eventsByMeet =>
@for( (meet, idx) <- eventsByMeet.keys.zipWithIndex) {	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion@swimmer.id" href="#collapse@swimmer.id-@idx">
        @meet
        </a>
      </h4>
    </div>
    <div id="collapse@swimmer.id-@idx" class="panel-collapse collapse in">
      <div class="panel-body">
      <table class="table table-bordered table-condensed">
      <thead><tr><th>Event</th><th>Meet</th><th>Time</th><th>Delta</th></tr></thead>
      <tbody>
      @eventsByMeet(meet).map { result =>
        @result.delta.map { d => @defining(d match { 
          case x if x.startsWith("+") => "error"
          case x if x.startsWith("-") => "success"
          case other => ""
          }) { rowClass => <tr class="@rowClass"> }
        }      	
      <td>@result.event</td><td>@result.meet</td><td>@result.finalTime</td><td>@result.delta</td></tr>  
      }
      </tbody>
      </table>
      
      </div>
	</div>
  </div>
}
}
</div>

}

@main(Some(user)){
    <h1>Welcome @user.fullName</h1>
    <br/>
    <h2>Your Swimmers <a href="#" id="addButton" class="btn btn-primary" title="Add a swimmer"><i class="icon-plus-sign icon-white"></i>Add</a></h2>
    <div id="addSwimmer" style="display:none">
		<form class="form-horizontal" action="@routes.ManageSwimmers.add" method="POST">
			<div class="control-group">
				<label class="control-label" for="firstName">First Name</label>
				<div class="controls">
					<input type="text" id="firstName" name="firstName" placeholder="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lastName">Last Name</label>
				<div class="controls">
					<input type="text" id="lastName" name="lastName" placeholder="">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn" value="Follow" />
				</div>
			</div>
		</form>
    </div>
    
    @user.watching.map { id => @Swimmer.findById(id).map { s => @swimmer(s) }}
    
    @activeMeets()
    
    
<script>
$('#addButton').click(function() { 
	$('#addSwimmer').toggle(300);
	$('#firstName').focus();
});

$('.unfollow').click(function() {
	$.ajax({
		url: "@routes.ManageSwimmers.unfollow",
		type: "POST",
		data: JSON.stringify({ swimmerId : $(this).attr('data-id')}),
		dataType: "json",
		contentType: "application/json",
		success: function(resp) {
			alert('yay');
		}	 
	});
});
</script>
}
	