@()(implicit user: User, header: HeaderData)

@main(Some(user)){
    <h1>Welcome @user.fullName</h1>
    <br/>
    <h2>Your Swimmers <a href="#" id="addButton" class="btn btn-primary" title="Add a swimmer"><i class="fa fa-plus-square"></i> Add</a></h2>
    <div id="addSwimmer" style="display:none">
		<form class="form-horizontal" action="@routes.ManageSwimmers.add" method="POST">
			<div class="control-group">
				<label class="control-label" for="firstName">First Name</label>
				<div class="controls">
					<input type="text" id="firstName" name="firstName" placeholder="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lastName">Last Name</label>
				<div class="controls">
					<input type="text" id="lastName" name="lastName" placeholder="">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn" value="Follow" />
				</div>
			</div>
		</form>
    </div>
    
    <div id="watchedSwimmers"></div>
    
    <h2>Active meets</h2>
    <ul id="activeMeets">
    </ul>

<script id="swimmer-template" type="text/x-handlebars-template">
<h3>
	{{name}} <button class="unfollow btn btn-info btn-xs pull-right" title="Unfollow" data-id="{{id}}">
	<i class="fa fa-minus-square"></i></button>
</h3>

<div class="panel-group" id="accordion{{id}}">
{{#each results}}	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{../id}}" href="#collapse{{../id}}-{{@@index}}">
        {{this.meet}}
        </a>
      </h4>
    </div>
    <div id="collapse{{../id}}-{{@@index}}" class="panel-collapse collapse in">
      <div class="panel-body">
      <div class="row">
      <div class="col-md-6 offset1">
      <table class="table table-bordered table-condensed">
      <thead><tr><th>Event</th><th>Time</th><th>Delta</th></tr></thead>
      <tbody>
      {{#each this.events}}
      	<tr class="{{class}}"><td>{{event}}</td><td>{{finalTime}}</td><td>{{delta}}</td></tr>  
      {{/each}}
      </tbody>
      </table>
      </div>
      </div>
      </div>
	</div>
  </div>
{{/each}}
</div>
</script>
    
<script id="activeMeets-template" type="text/x-handlebars-template">
	{{#each meets}}
	<li><a href="{{url}}">{{name}}</a></li>
	{{else}}
	None
	{{/each}}
</script>
<script language="javascript" src="@routes.Assets.at("js/index.js")"></script>    
<script>
	var swimmerTemplate, activeMeetsTemplate;
	$(document).ready(function() {
		var templ = $("#swimmer-template").html();
		swimmerTemplate = Handlebars.compile(templ);
		templ = $("#activeMeets-template").html();
		activeMeetsTemplate = Handlebars.compile(templ);
		initPage();
	});
</script>
}
	