@()(implicit user: User)

<script id="swimmer-template" type="text/x-handlebars-template">
<h3>
	{{name}} <button class="unfollow btn btn-info btn-xs pull-right" title="Unfollow" data-id="{{id}}">
	<i class="icon-minus-sign icon-white"></i></button>
</h3>

<div class="panel-group" id="accordion{{id}}">
{{#each results}}	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{../id}}" href="#collapse{{../id}}-{{@@index}}">
        {{this.meet}}
        </a>
      </h4>
    </div>
    <div id="collapse{{../id}}-{{@@index}}" class="panel-collapse collapse in">
      <div class="panel-body">
      <div class="row">
      <div class="span6 offset1">
      <table class="table table-bordered table-condensed">
      <thead><tr><th>Event</th><th>Time</th><th>Delta</th></tr></thead>
      <tbody>
      {{#each this.events}}
      	<tr class=""><td>{{event}}</td><td>{{finalTime}}</td><td>{{delta}}</td></tr>  
      {{/each}}
      </tbody>
      </table>
      </div>
      </div>
      </div>
	</div>
  </div>
{{/each}}
</div>
</script>

@main(Some(user)){
    <h1>Welcome @user.fullName</h1>
    <br/>
    <h2>Your Swimmers <a href="#" id="addButton" class="btn btn-primary" title="Add a swimmer"><i class="icon-plus-sign icon-white"></i>Add</a></h2>
    <div id="addSwimmer" style="display:none">
		<form class="form-horizontal" action="@routes.ManageSwimmers.add" method="POST">
			<div class="control-group">
				<label class="control-label" for="firstName">First Name</label>
				<div class="controls">
					<input type="text" id="firstName" name="firstName" placeholder="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lastName">Last Name</label>
				<div class="controls">
					<input type="text" id="lastName" name="lastName" placeholder="">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn" value="Follow" />
				</div>
			</div>
		</form>
    </div>
    
    @{ /* user.watching.map { id => @Swimmer.findById(id).map { s => @swimmer(s) }} */ }
    <div id="watchedSwimmers"></div>
    
    @activeMeets()
    

<script language="javascript" src="@routes.Assets.at("js/index.js")"></script>    
<script>
var swimmerTemplate;
$(document).ready(function() {
	var templ = $("#swimmer-template").html();
	swimmerTemplate = Handlebars.compile(templ);
	initPage();
});
</script>
}
	