@(form: Form[Option[User]])(implicit flash: Flash)

@main {
  @helper.form(routes.Auth.authenticate, 'class -> "form-inline") {

    <h1>Sign in</h1>

    @form.globalError.map { error =>
      <p class="alert alert-error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <div class="alert alert-success">
        @message
      </div>
    }
    
  <input type="text" class="input-small" name="email" id="email" value="@form("email").value" placeholder="Email" >
  <input type="password" class="input-small" name="password" id="password" placeholder="Password">
  <button type="submit" class="btn" id="loginbutton">Sign in</button>

  }
}