@(user:Option[User])(content: Html)	

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SwimMeetAlerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("js/html5shiv.js")"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>        
    <script src="@routes.Assets.at("js/bootstrap.js")"></script>
	<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <a class="brand" href="/">Swim Meet Alerts</a>
            <ul class="nav">
              <li><a href="manageUrls">Meets</a></li>
            </ul>
			<span class="navbar-form pull-right">
			@user match {
				case Some(guy) => {
				     <a class="btn btn-primary" href="@routes.Auth.logout">Sign Out</a>
				} 
				case None => {            
                   @helper.form(routes.Auth.authenticate, 'class -> "") {          
                      <input class="span2" type="text" name="email" placeholder="Email" value="">
                      <input class="span2" type="password" name="password" placeholder="Password">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                      <a class="btn btn-info" href="@routes.Signup.form">Sign Up</a>
                    }
                }
            }
            </span>
        </div> <!-- navbar-inner -->
      </div> <!-- navbar-->

    <div class="container">
      <div class="row">
        <div class="span12">
        @content
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
