@(addForm : Form[NewMeetUrl], user : Option[User] = None)
@import controllers._
@import helper._
@import helper.twitterBootstrap._

@main(user) {

<h2>URLs</h2>
<table class="table">
<tr><th>Name</th><th>URL</th></tr>
@Meet.findAll.map { meet =>
	<tr>
		<td>@meet.name</td><td>@meet.id</td>
		<td>
		<a class="btn" href="@routes.ManageUrls.scrape(meet.id)">Scrape</a>
		</td>
	</tr> 
}
</table>

<h2>Add URL</h2>
@helper.form(routes.ManageUrls.add, 'class -> "form-inline" ) {
  @helper.inputText(addForm("url"), 'class -> "input-xxlarge", 'size -> 200, '_label -> "Meet URL")
  <button type="submit" class="btn">Add</button>          
}

}